---
import BlogPostPreview from "../components/BlogPostPreview.astro";
import LayoutWithHeader from "../layouts/LayoutWithHeader.astro";
// import Layout from "../layouts/Layout.astro";
import "../styles/pages/blog.scss";

const pageTitle = "Blog posts";

const posts = await Astro.glob("../content/*.md");
---

<LayoutWithHeader title={pageTitle}>
    <main>
        <h1>Posts</h1>
        <div class="posts-feed">
            {
                posts.map((post) => {
                    return (
                        <BlogPostPreview
                            title={post.frontmatter.title}
                            imagePath={post.frontmatter.imagePath}
                            date={post.frontmatter.pubDate}
                            path={post.file}
                        />
                    );
                })
            }
        </div>
    </main>
</LayoutWithHeader>
